@charset "UTF-8";
/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/** VARIABLES **/
/** ELEMENT STYLES **/
/* line 25, ../sass/screen.scss */
body {
  background: #f1f1f1;
  padding: 30px 20px;
  width: 740px;
  margin: 0 auto;
  font-family: Arial, “Helvetica Neue”, Helvetica, sans-serif;
  color: #444444;
}

/* line 33, ../sass/screen.scss */
a {
  color: #5c5c24;
  text-decoration: none;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #5c5c24;
}
/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #818132;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #818132;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #818132;
}

/* line 37, ../sass/screen.scss */
a.link_no_style {
  color: #818132;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a.link_no_style:visited {
  color: #818132;
}
/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a.link_no_style:focus {
  color: #818132;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a.link_no_style:hover {
  color: #818132;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a.link_no_style:active {
  color: #818132;
}

/* line 41, ../sass/screen.scss */
h1, h2, h3, h4 {
  font-weight: normal;
  margin-top: 1.5em;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans serif;
  font-weight: bold;
}

/* line 42, ../sass/screen.scss */
h1 {
  font-size: 2.5em;
  margin-bottom: 0.3em;
}

/* line 43, ../sass/screen.scss */
h2 {
  font-size: 1.9em;
  margin-bottom: 0.1em;
}

/* line 44, ../sass/screen.scss */
h3 {
  font-size: 1.4em;
}

/* line 45, ../sass/screen.scss */
h4 {
  font-size: 1.3em;
}

/* line 47, ../sass/screen.scss */
p {
  margin-top: 1.2em;
}

/** LAYOUT STYLES **/
/* line 51, ../sass/screen.scss */
#page-header h1 {
  font-size: 5em;
  margin: 30px 0 15px;
  text-shadow: #333333 3px 3px 0px;
}
/* line 52, ../sass/screen.scss */
#page-header h2 {
  color: #5e5e5e;
  font-size: 1em;
  padding: 10px 2px;
  margin-top: 10px;
}

/* line 55, ../sass/screen.scss */
nav {
  font-size: 0.9em;
  padding: 10px;
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #777777), color-stop(100%, #515151));
  background-image: -webkit-linear-gradient(#777777, #515151);
  background-image: -moz-linear-gradient(#777777, #515151);
  background-image: -o-linear-gradient(#777777, #515151);
  background-image: -ms-linear-gradient(#777777, #515151);
  background-image: linear-gradient(#777777, #515151);
}
/* line 62, ../sass/screen.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 63, ../sass/screen.scss */
nav li {
  display: inline;
  list-style: none;
  padding: 0 15px;
}
/* line 67, ../sass/screen.scss */
nav li a {
  color: #f1f1f1;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
nav li a:visited {
  color: #f1f1f1;
}
/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
nav li a:focus {
  color: #d7d7d7;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
nav li a:hover {
  color: #d7d7d7;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
nav li a:active {
  color: #d7d7d7;
}

/* line 73, ../sass/screen.scss */
.article-header {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid #9d9d9d;
}
/* line 78, ../sass/screen.scss */
.article-header h1 {
  padding-top: 10px;
  line-height: 1em;
}
/* line 82, ../sass/screen.scss */
.article-header .postdate {
  font-size: 0.8em;
  color: #6a6a6a;
  font-style: italic;
  margin: 5px 0 0 0;
  padding: 0;
}

/* line 91, ../sass/screen.scss */
.article_seperator {
  border-top: 1px solid #bebebe;
  height: 10px;
  margin-top: 60px;
}

/* line 93, ../sass/screen.scss */
#page-footer {
  padding: 15px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #777777), color-stop(100%, #515151));
  background-image: -webkit-linear-gradient(#777777, #515151);
  background-image: -moz-linear-gradient(#777777, #515151);
  background-image: -o-linear-gradient(#777777, #515151);
  background-image: -ms-linear-gradient(#777777, #515151);
  background-image: linear-gradient(#777777, #515151);
  color: #f1f1f1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 50px 0 30px 0;
}
/* line 94, ../sass/screen.scss */
#page-footer ul {
  margin: 0;
  padding: 0;
}
/* line 95, ../sass/screen.scss */
#page-footer li {
  list-style: none;
  display: inline;
  padding: 0;
}
/* line 96, ../sass/screen.scss */
#page-footer a {
  color: #f1f1f1;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#page-footer a:visited {
  color: #f1f1f1;
}
/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#page-footer a:focus {
  color: #d7d7d7;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#page-footer a:hover {
  color: #d7d7d7;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#page-footer a:active {
  color: #d7d7d7;
}

/* line 101, ../sass/screen.scss */
.highlight {
  background: #0f132b;
  font-size: 0.7em;
  font-family: Monaco, 'Lucida Console', monospace;
  margin-top: 20px;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
}

/* line 110, ../sass/screen.scss */
.hll {
  background-color: #384b87;
}

/* line 111, ../sass/screen.scss */
.c {
  color: #bcbcbc;
  font-style: italic;
}

/* Comment */
/* line 112, ../sass/screen.scss */
.err {
  border: 1px solid #ffc66d;
}

/* Error */
/* line 113, ../sass/screen.scss */
.k {
  color: #a2b4d6;
  font-weight: bold;
}

/* Keyword */
/* line 114, ../sass/screen.scss */
.o {
  color: #fff;
}

/* Operator */
/* line 115, ../sass/screen.scss */
.cm {
  color: #bcbcbc;
  font-style: italic;
}

/* Comment.Multiline */
/* line 116, ../sass/screen.scss */
.cp {
  color: #BC7A00;
}

/* Comment.Preproc */
/* line 117, ../sass/screen.scss */
.c1 {
  color: #bcbcbc;
  font-style: italic;
}

/* Comment.Single */
/* line 118, ../sass/screen.scss */
.cs {
  color: #bcbcbc;
  font-style: italic;
}

/* Comment.Special */
/* line 119, ../sass/screen.scss */
.gd {
  color: #A00000;
}

/* Generic.Deleted */
/* line 120, ../sass/screen.scss */
.ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 121, ../sass/screen.scss */
.gr {
  color: #FF0000;
}

/* Generic.Error */
/* line 122, ../sass/screen.scss */
.gh {
  color: #000080;
  font-weight: bold;
}

/* Generic.Heading */
/* line 123, ../sass/screen.scss */
.gi {
  color: #00A000;
}

/* Generic.Inserted */
/* line 124, ../sass/screen.scss */
.go {
  color: #808080;
}

/* Generic.Output */
/* line 125, ../sass/screen.scss */
.gp {
  color: #000080;
  font-weight: bold;
}

/* Generic.Prompt */
/* line 126, ../sass/screen.scss */
.gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 127, ../sass/screen.scss */
.gu {
  color: #800080;
  font-weight: bold;
}

/* Generic.Subheading */
/* line 128, ../sass/screen.scss */
.gt {
  color: #0040D0;
}

/* Generic.Traceback */
/* line 129, ../sass/screen.scss */
.kc {
  color: #f7e64a;
  font-weight: bold;
}

/* Keyword.Constant */
/* line 130, ../sass/screen.scss */
.kd {
  color: #f7e64a;
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 131, ../sass/screen.scss */
.kn {
  color: #f7e64a;
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 132, ../sass/screen.scss */
.kp {
  color: #f7e64a;
}

/* Keyword.Pseudo */
/* line 133, ../sass/screen.scss */
.kr {
  color: #f7e64a;
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 134, ../sass/screen.scss */
.kt {
  color: #B00040;
}

/* Keyword.Type */
/* line 135, ../sass/screen.scss */
.m {
  color: #7ad753;
}

/* Literal.Number */
/* line 136, ../sass/screen.scss */
.s {
  color: #7ad753;
}

/* Literal.String */
/* line 137, ../sass/screen.scss */
.na {
  color: #da4939;
}

/* Name.Attribute */
/* line 138, ../sass/screen.scss */
.nb {
  color: #6d9cbe;
}

/* Name.Builtin */
/* line 139, ../sass/screen.scss */
.nc {
  color: #ffc66d;
  font-weight: bold;
}

/* Name.Class */
/* line 140, ../sass/screen.scss */
.no {
  color: #6d9cbe;
}

/* Name.Constant */
/* line 141, ../sass/screen.scss */
.nd {
  color: #dc4939;
}

/* Name.Decorator */
/* line 142, ../sass/screen.scss */
.ni {
  color: #f77a20;
  font-weight: bold;
}

/* Name.Entity */
/* line 143, ../sass/screen.scss */
.ne {
  color: #D2413A;
  font-weight: bold;
}

/* Name.Exception */
/* line 144, ../sass/screen.scss */
.nf {
  color: #ffc66d;
}

/* Name.Function */
/* line 145, ../sass/screen.scss */
.nl {
  color: #A0A000;
}

/* Name.Label */
/* line 146, ../sass/screen.scss */
.nn {
  color: #ffc66d;
  font-weight: bold;
}

/* Name.Namespace */
/* line 147, ../sass/screen.scss */
.nt {
  color: #6d9cbe;
  font-weight: bold;
}

/* Name.Tag */
/* line 148, ../sass/screen.scss */
.nx {
  color: #6d9cbe;
}

/* line 149, ../sass/screen.scss */
.nv {
  color: #ffffff;
}

/* Name.Variable */
/* line 150, ../sass/screen.scss */
.ow {
  color: #dc4939;
  font-weight: bold;
}

/* Operator.Word */
/* line 151, ../sass/screen.scss */
.w {
  color: #f77a20;
}

/* Text.Whitespace */
/* line 152, ../sass/screen.scss */
.mf {
  color: #999999;
}

/* Literal.Number.Float */
/* line 153, ../sass/screen.scss */
.mh {
  color: #999999;
}

/* Literal.Number.Hex */
/* line 154, ../sass/screen.scss */
.mi {
  color: #999999;
}

/* Literal.Number.Integer */
/* line 155, ../sass/screen.scss */
.mo {
  color: #999999;
}

/* Literal.Number.Oct */
/* line 156, ../sass/screen.scss */
.sb {
  color: #7ad753;
}

/* Literal.String.Backtick */
/* line 157, ../sass/screen.scss */
.sc {
  color: #7ad753;
}

/* Literal.String.Char */
/* line 158, ../sass/screen.scss */
.sd {
  color: #7ad753;
  font-style: italic;
}

/* Literal.String.Doc */
/* line 159, ../sass/screen.scss */
.s2 {
  color: #7ad753;
}

/* Literal.String.Double */
/* line 160, ../sass/screen.scss */
.se {
  color: #BB6622;
  font-weight: bold;
}

/* Literal.String.Escape */
/* line 161, ../sass/screen.scss */
.sh {
  color: #7ad753;
}

/* Literal.String.Heredoc */
/* line 162, ../sass/screen.scss */
.si {
  color: #BB6688;
  font-weight: bold;
}

/* Literal.String.Interpol */
/* line 163, ../sass/screen.scss */
.sx {
  color: #f7e64a;
}

/* Literal.String.Other */
/* line 164, ../sass/screen.scss */
.sr {
  color: #BB6688;
}

/* Literal.String.Regex */
/* line 165, ../sass/screen.scss */
.s1 {
  color: #7ad753;
}

/* Literal.String.Single */
/* line 166, ../sass/screen.scss */
.ss {
  color: #ffffff;
}

/* Literal.String.Symbol */
/* line 167, ../sass/screen.scss */
.bp {
  color: #f7e64a;
}

/* Name.Builtin.Pseudo */
/* line 168, ../sass/screen.scss */
.vc {
  color: #ffffff;
}

/* Name.Variable.Class */
/* line 169, ../sass/screen.scss */
.vg {
  color: #ffffff;
}

/* Name.Variable.Global */
/* line 170, ../sass/screen.scss */
.vi {
  color: #ffffff;
}

/* Name.Variable.Instance */
/* line 171, ../sass/screen.scss */
.il {
  color: #999999;
}

/* Literal.Number.Integer.Long */
/* line 51, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 55, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* blackboard textmate style

Comment: #bcbcbc
Constant: #defc59
Entity: #f77a20
Keyword: #f7e64a
Storage: #f7e64a
String: #7ad753
Support: #a2b4d6
Variable: #ffffff
Invalid: #b33b2c

*/
